.App {
  text-align: center;
  padding: 20px;
  float: center;
  margin-top: 5%;
}

.calculator {
  border-style: solid;
  border-color: rgb(206, 206, 206);
  border-radius: 10px;
  float: left;
  padding: 10px;
}

.history {
  float: left;
  width: 20%;
}

.number-buttons {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  margin: 20px;
}

.operator-buttons {
  display: inline-grid;
  grid-template-columns: auto;
  grid-row-gap: 10px;
}

.expr {
  width: 50%;
  margin-left: 40%;
  margin-right: 10%;
  float: right;
  padding: 5px;
}

.answer {
  width: 30%;
  margin-left: 60%;
  margin-right: 10%;
  float: right;
  padding: 5px;
}

.history-item {
  padding: 10px;
  margin: 5px auto;
}
