.App {
  text-align: center;
  padding: 20px;
  float: center;
   margin-top: 5%;
}

.calculator {
  border-style: solid;
  border-color: rgb(206, 206, 206);
  border-radius: 10px;
  float: left;
  padding: 10px;
}

.history {
  float: left;
  width: 20%;
}

.number-buttons {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  margin: 20px;
}

.operator-buttons {
  display: inline-grid;
  grid-template-columns: auto;
}

.expr {
  width: 40%;
  text-align: right;
}

.answer {
  width: 10%;
  text-align: right;
}

.history-item {
  padding: 10px;
  margin: 5px auto;
}
